<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>

    <link rel="stylesheet" href="https://unpkg.com/filepond@^4/dist/filepond.css"/>
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"/>

    <link rel="stylesheet" href="/css/navbar-footer-sidenav-styling.css"/>
    <link rel="stylesheet" href="/css/navbar-footer-sidenav-theme-font-effects.css"/>

    <link rel="stylesheet" href="/css/forms-styling.css">
    <link rel="stylesheet" href="/css/forms-theme-font-effects.css">

    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/components-theme-font-effects.css">

    <link rel="stylesheet" href="/css/elements.css"/>
    <link rel="stylesheet" href="/css/text-content.css"/>
    <link rel="stylesheet" href="/css/admin-side-menu.css"/>
    <link rel="stylesheet" href="/css/admin-style.css"/>

    <title>MENZO | Admin-Add product</title>
</head>

<body>

<!-- Nav bar -->
<nav id="nav-bar-container">
    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href=""><img src="/media/MENZO_logo.jpg" alt=""></a>
        </div>

        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
            <span id="clear-search">&#10005;</span>
            <img id="search-lens-btn" src="/media/search-icon-thin.png" alt="">
        </div>

        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-profile">
                <a href="">
                    <div class="icon-image-container">
                        <img id="profile-icon" src="/media/profile_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div>
                            <p>sign in</p>
                        </div>
                        <div><strong>Account</strong></div>
                    </div>
                </a>
            </div>
            <div id="hamBurger-searchIcon-container">
                <div id="search-icon">
                    <img id="search-icon-img" src="/media/search-v3.png" alt="">
                </div>
                <div id="hamBurger-icon">
                    <img src="/media/hamburger-icon-v3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- page content -->
<div class="page-container">
    <div class="side-menu-bar-container">
        <h2 id="dashboard-option"><a href="http://localhost:8080/admin/dashboard">Dashboard</a></h2>

        <h2>Inventory</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/categories">Categories</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/variations">Variations</a></li>
            <li class="menu-item" id="current-option"><a href="http://localhost:8080/admin/all-products">Products</a>
            </li>
            <li class="menu-item"><a href="">Discount & offers</a></li>
            <li class="menu-item"><a href="">Coupons</a></li>
            <li class="menu-item"><a href="">Order management</a></li>
            <li class="menu-item"><a href="">Return & cancellation</a></li>
            <li class="menu-item"><a href="">Sales & revenue</a></li>
        </ul>

        <h2>Users</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/users">User management</a></li>
            <li class="menu-item"><a href="">Blocked users</a></li>
            <li class="menu-item"><a href="">Subscriptions</a></li>
            <li class="menu-item"><a href="">News letters</a></li>
            <li class="menu-item"><a href="">Contact requests</a></li>
            <li class="menu-item"><a href="">Sent messages</a></li>
        </ul>

        <h2>Others</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Banners</a></li>
            <li class="menu-item"><a href="">About Us</a></li>
        </ul>
    </div>

    <!-- Main page content -->
    <div class="main-content-container">

        <div id="page-title-container">
            <h1 id="page-title">Add product</h1>
            <div class="title-button-container">
                <button id="draft-button" class="title-button draft-button" title="Draft">
                    <img src="/media/draft (1).png" alt="">
                </button>

                <button id="refresh-button" class="title-button refresh-button" title="Refresh">
                    <img src="/media/refresh.png" alt="">
                </button>
            </div>
        </div>
        <hr class="line line-100"/>

        <form id="add-product-form" enctype="multipart/form-data" th:action="@{/products/add-product}"
              th:object="${newProduct}" method="POST">

            <div id="form-container">
                <div id="product-info-col-1">

                    <!-- Product General info -->
                    <fieldset>
                        <legend>General Information</legend>

                        <!-- category input -->
                        <label class="general-info-label">Category:
                            <div class="custom-select-wrapper">
                                <select id="category-select"
                                        class="input input-100 product-form-input"
                                        name="categoryId"></select>
                                <p id="category-error-message" class="error-message"></p>
                            </div>
                        </label>

                        <!-- sub-category input -->
                        <label class="general-info-label">Sub Category:
                            <div class="custom-select-wrapper">
                                <select th:field="*{subCategoryId}"
                                        id="sub-category-select"
                                        name="subCategoryId"
                                        class="input input-100 product-form-input"></select>
                                <p id="sub-category-error-message" class="error-message"></p>
                            </div>
                        </label>

                        <!-- Product name input -->
                        <label class="general-info-label">Product Name:
                            <div style="position: relative;">
                                <input type="text"
                                       class="input input-100 product-form-input"
                                       th:field="*{productName}"
                                       name="productName"
                                       id="product-name"
                                       placeholder="Product Name"/>
                                <p id="product-name-error-message" class="error-message"></p>
                                <ul class="suggestion-box" id="suggestions"></ul>
                            </div>
                        </label>

                        <!-- description input -->
                        <label class="general-info-label">Description:
                            <textarea
                                    th:field="*{description}"
                                    class="input input-100 product-form-input"
                                    name="description"
                                    id="product-description"
                                    placeholder="Description"></textarea>
                            <p id="product-description-error-message" class="error-message"></p>
                        </label>
                    </fieldset>

                    <!-- Size, Prices & Stock -->
                    <fieldset>
                        <legend>Pricing and Stock</legend>

                        <div id="sizes">
                            <label class="general-info-label">Size</label>
                            <p class="option-description">Pick Available Sizes</p>
                            <div id="size-options-container">

                                <div id="size-wrapper-col-1">

                                    <!-- Size options -->
                                    <div class="size-column-heading">
                                        <label class="general-info-label">Size</label>
                                    </div>
                                    <div id="size-container" class="size-column-body-1"></div>

                                </div>
                                <div id="size-wrapper-col-2">

                                    <!-- Stock fields -->
                                    <div id="size-stock-column">
                                        <div class="size-column-heading">
                                            <label class="general-info-label">Stock</label>
                                        </div>
                                        <div id="stock-container" class="size-column-body-2"></div>
                                    </div>

                                    <!-- MRP fields -->
                                    <div id="size-mrp-column">
                                        <div class="size-column-heading">
                                            <label class="general-info-label">MRP</label>
                                        </div>
                                        <div id="mrp-container" class="size-column-body-2"></div>
                                    </div>

                                    <!-- Selling price fields -->
                                    <div id="size-selling-price-column">
                                        <div class="size-column-heading">
                                            <label class="general-info-label">Selling price</label>
                                        </div>
                                        <div id="selling-price-container" class="size-column-body-2"></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div id="sizes-error-message-container">
                            <p class="error-message" id="size-details-error-message"></p>
                        </div>
                    </fieldset>

                    <!-- Additional information -->
                    <fieldset id="additional-info-fieldset">
                        <legend>Additional Information</legend>

                        <label class="general-info-label">Discount (in %):
                            <input type="text"
                                   name="discount"
                                   class="input input-100 product-form-input"
                                   id="discount"
                                   placeholder="Discount"/>
                            <p id="discount-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Discount Type:
                            <input type="text"
                                   name="discount-type"
                                   class="input input-100 product-form-input"
                                   id="discount-type"
                                   placeholder="Discount Type"/>
                            <p id="discount-type-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Item Weight:
                            <input type="number"
                                   th:field="*{itemWeight}"
                                   name="itemWeight"
                                   class="input input-100 product-form-input"
                                   id="item-weight"
                                   placeholder="Item Weight"/>
                            <p id="item-weight-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Generic Name:
                            <input type="text"
                                   th:field="*{genericName}"
                                   name="genericName"
                                   class="input input-100 product-form-input"
                                   id="generic-name"
                                   placeholder="Generic Name"/>
                            <p id="generic-name-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Country of Origin:
                            <input type="text"
                                   th:field="*{countryOfOrigin}"
                                   name="countryOfOrigin"
                                   class="input input-100 product-form-input"
                                   id="country-of-origin"
                                   placeholder="Country of Origin"/>
                            <p id="country-of-origin-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Manufacturer:
                            <input type="text"
                                   th:field="*{manufacturer}"
                                   name="manufacturer"
                                   class="input input-100 product-form-input"
                                   id="manufacturer"
                                   placeholder="Manufacturer"/>
                            <p id="manufacturer-error-message" class="error-message"></p>
                        </label>

                        <label class="general-info-label">Packer:
                            <input type="text"
                                   th:field="*{packer}"
                                   name="packer"
                                   class="input input-100 product-form-input"
                                   id="packer"
                                   placeholder="Packer"/>
                            <p id="packer-error-message" class="error-message"></p>
                        </label>
                    </fieldset>

                </div>

                <div id="product-info-col-2">

                    <!-- Image upload field -->
                    <fieldset>
                        <legend>Upload Images</legend>
                        <div id="image-preview-container"></div>
                        <div id="image-icons-container">
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                            <div class="image-icon"></div>
                        </div>
                    </fieldset>

                    <!-- Color & Status -->
                    <fieldset>
                        <legend>Color and Status</legend>

                        <!-- Color options -->
                        <div id="color-options-container">
                            <label class="general-info-label">Color</label>
                            <p class="option-description">Pick Available Colors</p>
                            <div class="custom-select-wrapper">
                                <select id="color-select"
                                        class="input input-100 product-form-input"
                                        name="colors"></select>
                                <p id="color-error-message" class="error-message"></p>
                            </div>
                        </div>

                        <!-- Pay on delivery options -->
                        <div id="pod-options-container">
                            <label class="general-info-label">Active Status</label>
                            <p class="option-description">Pick an option</p>
                            <div class="status-option-container">
                                <label class="form-radio-button">
                                    <input type="radio"
                                           name="status"
                                           value="active"
                                           checked required/>
                                    <span>Active</span>
                                </label>
                                <label class="form-radio-button">
                                    <input type="radio"
                                           name="status"
                                           value="inactive"/>
                                    <span>Inactive</span>
                                </label>
                            </div>
                        </div>

                        <!-- Product active status -->
                        <div id="active-options-container">
                            <label class="general-info-label">Pay On Delivery</label>
                            <p class="option-description">Pick an option</p>
                            <div class="status-option-container">
                                <label class="form-radio-button">
                                    <input type="radio"
                                           name="pod"
                                           value="available"
                                           checked required/>
                                    <span>Available</span>
                                </label>
                                <label class="form-radio-button">
                                    <input type="radio"
                                           name="pod"
                                           value="unavailable"/>
                                    <span>Unavailable</span>
                                </label>
                            </div>
                        </div>

                        <!-- Free delivery options -->
                        <div id="free-del-options-container">
                            <label class="general-info-label">Free Delivery</label>
                            <p class="option-description">Pick an option</p>
                            <div class="status-option-container">
                                <label class="form-radio-button status-option">
                                    <input type="radio"
                                           name="freeDel"
                                           value="available"
                                           checked required/>
                                    <span>Available</span>
                                </label>
                                <label class="form-radio-button">
                                    <input type="radio"
                                           name="freeDel"
                                           value="unavailable"/>
                                    <span>Unavailable</span>
                                </label>
                            </div>
                        </div>

                    </fieldset>

                    <!-- Variation fields -->
                    <div id="variations-space"></div>

                </div>
            </div>

            <!-- Temporary Image Upload -->
            <fieldset>
                <legend>Upload Images (max 9)</legend>
                <input type="file"
                       name="images"
                       id="product-images"
                       multiple/>
                <div id="image-stats"></div>
            </fieldset>

            <!-- Submit Button -->
            <div id="button-container">
                <button type="submit" class="grey-cta-button grey-submit-button-1">Add Product</button>
            </div>

        </form>
    </div>
</div>

<!-- Toast notification -->
<div class="toast" id="toast">
    <div class="toast-icon toast-success-icon" id="toast-icon"></div>
    <div class="toast-message-container">
        <h3 id="toast-title">Success!</h3>
        <p id="toast-message">Password change failed abruptly.....</p>
    </div>
    <div class="toast-close-container">
        <span id="toast-close-btn">&#10005;</span>
    </div>
</div>

<!-- Footer menu -->
<div class="footer-menu-container">
    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="/media/MENZO_logo.jpg" alt="">
        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
    </div>
</div>

<script src="/js/component-script/nav-bar-script.js"></script>
<script src="/js/component-script/toaster-script.js"></script>

<script src="/js/product-script/product-form-config.js"></script>
<script src="/js/product-script/product-form-submit.js"></script>
<script src="/js/product-script/color-size-config.js"></script>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script>

</body>


</html>














<!--          <label>Material Composition: <input type="text" name="materialComposition"></label>accept="image/*"-->
<!--          <label>Pattern: <input type="text" name="pattern"></label>-->
<!--          <label>Fit Type: <input type="text" name="fitType"></label>-->
<!--          <label>Sleeve Type: <input type="text" name="sleeveType"></label>-->
<!--          <label>Length: <input type="text" name="length"></label>-->
<!--          <label>Collar Style: <input type="text" name="collarStyle"></label>-->

<!--          <label>About this Item:-->
<!--            <textarea name="aboutItem" placeholder="Use bullet points or separate lines"></textarea>-->
<!--          </label>-->

<!--          <label>Item Dimensions:-->
<!--            <input type="number" name="length" placeholder="Length (cm)">-->
<!--            <input type="number" name="width" placeholder="Width (cm)">-->
<!--            <input type="number" name="height" placeholder="Height (cm)">-->
<!--          </label>-->
