<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home-css/style.css">
    <link rel="stylesheet" href="/home-css/home.css">
    <title>MENZO | Men's fashion</title>
</head>
<body>

<!-- Nav bar -->

<nav id="nav-bar-container">

    <!-- Top nav bar -->

    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href="/index"><img src="/home-media/utility-media/MENZO_logo.jpg" alt=""></a>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-wishlist">
                <a id="wishlist-icon-container" href="">
                    <div class="icon-image-container">
                        <img id="heart-icon" src="/home-media/utility-media/heart_icon.jpeg" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div><p id="wishlist-count">0</p></div>
                        <div><strong>Saved</strong></div>
                    </div>
                </a>
            </div>
            <div id="nav-icon-cart">
                <a href="">
                    <div class="icon-image-container">
                        <img id="cart-icon" src="/home-media/utility-media/cart_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div><p id="cart-count">50</p></div>
                        <div><strong>My cart</strong></div>
                    </div>
                </a>
            </div>
            <div id="user-profile-icon" class="dropdown-toggle">
                <div class="icon-image-container">
                    <img id="profile-icon" src="/home-media/utility-media/profile_icon.png" alt=""/>
                </div>
                <div class="icon-details-container">
                    <div>
                        <p id="profile-greeting">Sign in</p>
                    </div>
                    <div>
                        <strong id="profile-label">Account</strong>
                    </div>
                </div>
                <ul id="user-dropdown" class="dropdown hidden">
                    <li><a href="/sign-in">Create an account</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bottom nav bar (for categories) -->

    <div id="bottom-nav-bar">
        <ul id="bottom-nav-options-container"></ul>
    </div>
</nav>

<!-- Banner -->

<div class="banner-container">
    <img class="banner-image" src="/home-media/banner-images/banner_image1.jpg" alt="">
    <!-- <div class="banner-filter"></div> -->
    <div class="banner-content">
        <p>TRENDING FASHION ITEMS TO </p>
        <h1>UNLEASH YOUR <br>INNER MASCULINITY</h1>
        <a href="/all-categories" id="banner-button">Shop now</a>
    </div>
</div>

<!-- info tags -->

<div id="info-tags-container">
    <div class="info-tag-head">
        <strong>DRESS SHARP, <br>LIVE SMART</strong>
    </div>
    <div class="info-tags">
        <img id="trend-tag-icon" src="/home-media/utility-media/trend-icon-symbol.jpg" alt="">
        <strong>Trend-Forward Collections</strong>
        <p>Stay fashionable with our <br>latest styles</p>
    </div>
    <div class="info-tags">
        <img id="fast-delivery-tag-icon" src="/home-media/utility-media/delivery_van_tag.webp" alt="">
        <strong>Fast Shipping</strong>
        <p>Get your new clothes quickly <br>with our speedy shipping</p>
    </div>
    <div class="info-tags">
        <img id="exchange-tag-icon" src="/home-media/utility-media/images (4).png" alt="">
        <strong>Easy Shipping and Exchanges</strong>
        <p>If it doesn't fit or you don't <br>like it, return it easily</p>
    </div>
    <div class="info-tags">
        <img id="loyalty-tag-icon" src="/home-media/utility-media/tag icon.png" alt="">
        <strong>Loyalty Rewards</strong>
        <p>Earn rewards and discounts <br>when you shop with us</p>
    </div>
    <div class="info-tags">
        <img id="secure-payment-tag-icon" src="/home-media/utility-media/secure_payment_tag.jpg" alt="">
        <strong>Secured Payments</strong>
        <p>Pay with our safe and secure <br>payment options</p>
    </div>
</div>

<!-- Categories banners -->

<div class="cat-banner-container">
    <div class="cat-banners">
        <img class="watches-banner-image" src="/home-media/banner-images/watches_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>WATCHES</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="shirts-banner-image" src="/home-media/banner-images/shirts-banner-image1.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>SHIRTS & T-SHIRTS</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="pants-banner-image" src="/home-media/banner-images/bottom_wear_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>BOTTOM WEAR</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="perfumes-banner-image" src="/home-media/banner-images/perfumes_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>PERFUMES</h2>
            <button>Shop now</button>
        </div>
    </div>
</div>

<!-- New arrivals -->

<div class="new-arrivals-container">
    <h2>NEW ARRIVALS</h2>
    <div class="new-arrivals-options-container">
        <div class="new-arrivals-options-wrap">

            <!-- Wrapper containing individual product - begins -->

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <!-- Wrapper containing individual product - ends -->

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

            <div class="product-details-container">
                <a href="">
                    <img class="new-arrivals-image-preview" src="/home-media/banner-images/tshirt_preview image.webp" alt="">
                    <p class="new-arrivals-product-name">Peter England Men's Regular Fit Branded Insignia Half Sleeve Polo T-Shirt | Cotton Rich | Premium Pique Weave</p>
                    <div class="na-discount-price-wishlist">
                        <div class="na-discount-price">
                            <p class="na-discount">-47%</p>
                            <strong class="na-price">₹ 1,500</strong>
                        </div>
                        <label class="wishlist-label">
                            <input type="checkbox" class="wishlist-checkbox">
                            <span class="wishlist-heart">❤</span>
                        </label>
                    </div>
                </a>
            </div>

        </div>

        <!-- New arrivals - View all button -->

        <div id="view-all-button">
            <button>View all</button>
        </div>
    </div>
</div>

<!-- Banner no. 2 -->

<div class="banner-container banner-container-2">
    <img class="banner-image" src="/home-media/banner-images/banner_image_2.png" alt="">
    <!-- <div class="banner-filter"></div> -->
    <div class="banner-content-2">
        <!-- <p>TRENDING FASHION ITEMS TO </p> -->
        <h1>HEY MEN <br>GET 20% OFF ON YOUR <br>FIRST DEAL</h1>
        <a href="/all-categories" id="banner-2-button">Shop now</a>
    </div>
</div>

<!-- Categories banners 2 -->

<div class="cat-banner-container">
    <div class="cat-banners">
        <img class="watches-banner-image" src="/home-media/banner-images/watches_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>BEST SELLING</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="shirts-banner-image" src="/home-media/banner-images/shirts-banner-image1.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>NEW ARRIVALS</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="pants-banner-image" src="/home-media/banner-images/bottom_wear_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>CLEARANCE</h2>
            <button>Shop now</button>
        </div>
    </div>
    <div class="cat-banners">
        <img class="perfumes-banner-image" src="/home-media/banner-images/perfumes_banner_image.jpg" alt="">
        <div class="cat-banners-filter"></div>
        <div class="cat-banners-content">
            <h2>TOP RATED</h2>
            <button>Shop now</button>
        </div>
    </div>
</div>

<!-- FAQ sections - with Accordion -->

<div class="FAQ-container">
    <div class="FAQ-heading">
        <h1>FREQUENTLY ASKED <br>QUESTIONS</h1>
    </div>
    <div class="FAQ-accordian-container">
        <button class="FAQ-accordian">Question 1</button>
        <div class="FAQ-accordian-panel">This is hidden content for section 1.</div>
        <button class="FAQ-accordian">Question 2</button>
        <div class="FAQ-accordian-panel">This is hidden content for section 1.</div>
        <button class="FAQ-accordian">Question 3</button>
        <div class="FAQ-accordian-panel">This is hidden content for section 1.</div>
        <button class="FAQ-accordian">Question 4</button>
        <div class="FAQ-accordian-panel">This is hidden content for section 1.</div>
        <button class="FAQ-accordian">Question 5</button>
        <div class="FAQ-accordian-panel">This is hidden content for section 1.</div>
    </div>
</div>

<!-- Footer menu -->

<div class="footer-menu-container">
    <div class="email-sub-container">
        <div class="email-sub-label">
            <img src="/home-media/utility-media/paper-rocket.jpg" alt="">
            <p>SUBSCRIBE OUR NEWSLETTER & GET ALL OUR NEWS <br>ABOUT NEW PRODUCTS, OFFERS AND BLOGS.</p>
        </div>
        <div class="email-sub-input">
            <p>*Get a 5% offer by subscribing our newsletter. Expires on 31 May.</p>
            <div class="email-input-wrapper">
                <input type="email" placeholder="Enter your email..." />
                <button>Subscribe</button>
            </div>
        </div>
    </div>

    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="/home-media/utility-media/MENZO_logo.jpg" alt="">

            <div class="footer-contacts" id="footer-address">
                <img src="/home-media/utility-media/location-icon.png" alt="">
                <strong>Address: </strong>
                <p>Road No, Street line 1, <br>City, State.</p>
            </div>

            <div class="footer-contacts" id="footer-telephone">
                <img src="/home-media/utility-media/telephone-icon.jpg" alt="">
                <strong>Telephone: </strong>
                <p>09876 54321</p>
            </div>

            <div class="footer-contacts" id="footer-email">
                <img src="/home-media/utility-media/Email-icon.png" alt="">
                <strong>Email Address: </strong>
                <p>info@menzo.in</p>
            </div>
        </div>

        <div class="footer-options footer-pages-wrapper">
            <h2>PAGES</h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="">Wishlist</a></li>
            </ul>
        </div>
        <div class="footer-options footer-categories-wrapper">
            <h2>CATEGORIES</h2>
            <ul>
                <li><a href="">Shirts & T-Shirts</a></li>
                <li><a href="">Pants</a></li>
                <li><a href="">Hoodies</a></li>
                <li><a href="">Coats & Jackets</a></li>
                <li><a href="">Perfumes</a></li>
                <li><a href="">Watches</a></li>
                <li><a href="">Caps</a></li>
                <li><a href="">Shoes</a></li>
            </ul>
        </div>
        <div class="footer-options footer-support-wrapper">
            <h2>SUPPORT</h2>
            <ul>
                <li><a href="">My Account</a></li>
                <li><a href="">My Orders</a></li>
                <li><a href="">My wallet</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Privacy policy</a></li>
            </ul>
        </div>
        <div class="footer-options footer-social-media-wrapper">
            <h2>SOCIAL MEDIA</h2>
            <div id="social-media-links-wrapper">
                <a href=""><img id="footer-facebook-link" src="/home-media/utility-media/facebook.jpg" alt=""></a>
                <a href=""><img id="footer-instagram-link" src="/home-media/utility-media/Instagram.png" alt=""></a>
                <a href=""><img id="footer-whatsapp-link" src="/home-media/utility-media/whatsapp-icon.jpg" alt=""></a>
                <a href=""><img id="footer-tiktok-link" src="/home-media/utility-media/tiktok.png" alt=""></a>
                <a href=""><img id="footer-twitter-link" src="/home-media/utility-media/twitter.jpg" alt=""></a>
            </div>

        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
        <div id="payment-cards-container">
            <img id="visa-card-logo" src="/home-media/utility-media/visa.png" alt="">
            <img id="apple-pay-logo" src="/home-media/utility-media/apple-pay.png" alt="">
            <img id="mastercard-logo" src="/home-media/utility-media/mastercart-logo.webp" alt="">
            <img id="paypal-logo" src="/home-media/utility-media/paypal.png" alt="">
            <img id="stripe-pay-logo" src="/home-media/utility-media/stripe-pay.png" alt="">
        </div>
    </div>
</div>
<script th:inline="javascript">
<!--    const user = /*[[${user}]]*/ null;-->
    window.user = /*[[${user}]]*/ null;
<!--    updateUserProfileUI(user);-->
</script>
<script src="/home-js/nav-bar-script.js"></script>
</body>
</html>