/* input */

.form-input {
    border-bottom: 2px solid #cacaca !important;
}

.form-input:focus {
    border-bottom: 2px solid #969696;
    background: none;
}


/* error msg */
.error-message {
    display: block;
}


/* forgot password link */
#forgot-password {
    transition: transform 0.1s ease;
}

#forgot-password:hover {
    color: #7c7c7c;
}

#forgot-password:active {
    transform: scale(0.95);
}


/* buttons */
.divider::before,
.divider::after {
    border-bottom: 1px solid #ddd;
    content: '';
    flex: 1;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}

#button-form {
    transition: box-shadow 0.2s, color 0.15s ease, transform 0.07s ease !important;
}

#button-form:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#button-google {
    transition: box-shadow 0.2s, color 0.15s ease, transform 0.07s ease;
    border: 1.5px solid #dbdbdb;
}

#button-google:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#button-form:active,
#button-google:active {
    transform: scale(0.98);
}


/* sign-in redirect */
#sign-in-redirection a:hover {
    color: #5260b7;
}

#sign-in-redirection {
    transition: color 0.15s ease, transform 0.1s ease;
}

#sign-in-redirection a:active {
    transform: scale(0.95);
}