

/* Media queries - Nav bar */

/* -- Large (desktops) - 1200px > and >= 992px -- */

/* Breaking point for Laptops & smaller */
@media (max-width: 1070px) {
    #nav-bar-container{
        height: 55px;
    }

    #top-nav-bar{
        height: 55px;
    }

    #search-bar{
        margin:12px 10%;
    }

    #nav-icon-profile{
        margin-right: 45px;
        margin-top: -2px
    }
}

@media (max-width: 960px) {
    #nav-bar-container{
        height: 50px;
    }

    #top-nav-bar{
        height: 50px;
    }

    #nav-icon-profile{
        margin-right: 40px;
        margin-top: -5px
    }

    #search-bar{
        margin:10px 10%;
    }
}

/* -- Medium (tablets) - 992px > and >= 768px -- */

@media (max-width: 840px) {
    #nav-bar-logo{
        flex: 1;
    }

    #nav-bar-search-bar{
        flex: 2;
    }

    #nav-icon-profile{
        margin-right: 35px;
        margin-top: -5px
    }

    #search-bar{
        margin:10px 10%;
    }
}

/* -- Small (phones) - 768px > and >= 576px -- */

@media (max-width: 768px) {
    #nav-bar-container{
        height: 47px;
    }

    #top-nav-bar{
        height: 47px;
    }

    #nav-bar-logo{
        flex: 2;
    }

    #nav-bar-logo img{
        margin-left: 5%;
    }

    #nav-bar-search-bar{
        flex: 4;
    }

    #nav-bar-icons{
        flex: 1.3;
    }

    #search-bar{
        width: 100%;
        height: 28px;
        margin:9px 8% 10px 5%;
        display: none;
    }

    #clear-search {
        display: none;
    }

    #search-lens-btn {
        display: none;
    }

    #nav-icon-profile{
        display: none;
    }

    #hamBurger-searchIcon-container {
        display: flex;
    }
}

@media (max-width: 640px) {
    #search-icon img {
        margin-top: 3px;
        margin-left: 7px;
    }

    #hamBurger-icon img {
        margin-top: -2px;
        margin-left: 2px;
    }
}

/* -- Extra small - 576px > -- */

@media (max-width: 540px) {
    #nav-bar-container{
        height: 45px;
    }

    #top-nav-bar{
        height: 45px;
    }

    #nav-bar-logo img{
        margin-left: 3%;
        height: 95%;
    }

    #search-bar{
        width: 95%;
        margin:8px 8% 10px 5%;
    }

    #clear-search {
    right: 10px;
    top: 47%;
    }

    #search-lens-btn {
        right: -25px;
    }

    #search-icon img {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-left: 10px;
    }

    #hamBurger-icon img {
        width: 35px;
        height: 35px;
        margin-top: 0px;
        margin-left: 2px;
    }
}

@media (max-width: 460px) {
    #nav-bar-logo img{
        margin-left: 0%;
        height: 90%;
    }

    #search-bar {
        font-size: 13px;
    }

    #search-icon img {
        margin-left: 5px;
    }

    #hamBurger-icon img {
        margin-left: 2px;
    }
}

@media (max-width: 375px) {
    #nav-bar-logo img{
        height: 85%;
    }

    #search-icon img {
        margin-left: 0px;
    }
    #hamBurger-icon img {
        margin-left: -5px;
    }
}

@media (max-width: 330px) {
    #nav-bar-logo img{
        height: 82%;
    }

    #search-bar{
        width: 90%;
        font-size: 12px;
    }

    #clear-search {
        right: 15px;
        top: 50%;
    }

    #search-lens-btn {
        right: -15px;
    }
}



/* Media queries - Footer */

/* XXL (4K/large desktops) >= 1400px */

/* Extra large - 1400px > and >= 1200px */

/* Large (desktops) - 1200px > and >= 992px */

/* Medium (tablets) - 992px > and >= 768px */

/* Small (phones) - 768px > and >= 576px */

/* Extra small - 576px >  */

#page-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.page-title-container-top {
    padding-top: 0px !important;
}


/* Custom 2nd search bar: page level (in discount page) */

.page-search-bar {
    /* padding: 5px 10px; */
    /* max-width: 350px;
    min-width: 250px; */
    width: 60%;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    display: flex;
    height: 33px;
    /* flex: 1; */
}
.title-button-container {
    /* flex: 1; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.page-search-bar-input-space {
    flex: 6;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
}

.page-search-bar-input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    border: none;
    padding: 5px 15px;
}

.page-search-bar-input-clear {

    width: 25px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #696969;
    display: none;
    cursor: pointer;
}

.page-search-bar-input:focus {
    border: none;
    outline: none;
}

.page-search-bar-input-space:focus-within {
    border: 1px solid #d17b72ad;
}
/* D4A5A0 */

.page-search-bar-icon-space {
    border-left: 1px solid #d6d6d6;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 1;
    max-width: 50px;
    background: #f0f0f0;
    /* padding: 2px 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-search-bar-icon-space img {
    width: 28px;
    opacity: 0.57;
    margin-right: 5px;
    /* border: 1px solid red; */
}




















/* -------- */

.menu-item,
.side-menu-bar-container h2,
#dashboard-option {
    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}

/* .sub-category-menu{
    list-style: none;
    padding-left: 15px;
    margin: 5px 0 10px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.3s ease;
}

.sub-category-menu li a{
    color: rgb(65, 65, 65);
}

.sub-category-menu li{
    padding: 5px 10px;
}

.sub-category-menu li a:hover{
    color: rgb(112, 115, 122);
} */

/* .menu-item:hover .sub-category-menu{
    max-height: 500px;
    opacity: 1;
} */

/* main content part - styling */

.main-content-container{
    flex: 6;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}


.main-content-container h1{
    margin: 10px 15px;
}


