/*
*
* Contains styling for -
*   - Buttons,
*   - Inputs,
*   - Horizontal rulers,
*   - Toaster,
*   - Modals
*
*/



/* ******* Buttons ******* */

/* ------- TITLE Buttons ------- */

/* Title button (base) */
.title-button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2, transform 0.1s ease;
    background-color: rgba(189, 189, 189, 0.5);
    color: #696969;
    text-decoration: none;
    display: inline-block;
}

.title-button:hover {
    background-color: rgba(158, 158, 158, 0.5);
    color: #575757;
}

.title-button:active {
    transform: scale(0.95);
}


/* Add button */
.add-button {
    font-size: 15px;
    padding: 6px 11px 5px 11px;
    margin-right: 8px;
}

.add-icon {
    line-height: 0;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
}


/* Sort & Filter button */
.sort-button,
.filter-button {
    /* background-color: transparent; */
    font-size: 15px;
    text-decoration: none;
    padding: 6px 10px 5px 12px;
    margin-right: 7px;
}

.filter-icon,
.sort-icon {
    font-size: 1.3em;
    line-height: 0.8;
    margin-right: 4px;
}


/* Draft & Refresh button */
.draft-button,
.refresh-button {
    padding: 3px 10px;
    margin-right: 7px;
}

#draft-button img {
    width: 20px;
    padding: 1px;
    opacity: 0.7;
}

#refresh-button img {
    width: 20px;
    padding: 1px;
    opacity: 0.65;
}


/* Category filter button */
.category-filter-button {
    padding: 7px 11px 4px 11px;
    margin-right: 7px;
}

.category-filter-button img {
    width: 14.5px;
}


/* Delete button */
.title-delete-button {
    padding: 6px 11px 4px 11px;
    margin-right: 7px;
}

.title-delete-button img {
    width: 17px;
}


/* Contact-button */
.contact-button {
    padding: 4px 9.5px 2px 7.5px;
    margin-right: 7px;
}

.contact-button img {
    width: 21px;
}



/* ------- TABLE Buttons ------- */

/* Table button (base) */
.table-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    transition: transform 0.15s ease;
    opacity: 0.9;
}

.table-button:hover {
    background-color: #e9e9e9a1;
    opacity: 1;
}

.table-button:active {
    transform: scale(0.9);
}


/* View button */
.view-button {
    margin-right: 10px;
    padding: 5px 5px 2px 4px !important;
}

.view-button img {
    width: 25px;
    opacity: 0.4;
}


/* Edit button */
.edit-button {
    padding: 5px;
    margin-right: 10px;
}

.edit-button img {
    width: 22px;
    opacity: 0.5;
}


/* Delete button */
.table-delete-button {
    margin-right: 10px;
    padding: 7.5px 5px 2px 4.5px !important;
}

.table-delete-button img {
    width: 24px;
    opacity: 0.5;
    padding: 0 2px 2px 2px;
}



/* ## have this somewhere else */
.table-buttons-container {
    display: flex;
    justify-content: center;
}



/* ------- LIST VIEW Buttons ------- */

/* list-item button, overflow-button */

/* List header button */
.list-header-button {
    border: 1px solid #b3b3b3;
    color: #a7a7a7;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: transform 0.1s ease;
}

.list-header-button:hover {
    background-color: rgba(209, 209, 209, 0.5);
    color: #696969;
}

.list-header-button:active {
    transform: scale(0.95);
}

/* add button */
.list-add-button {
    margin-right: 10px;
    font-size: 27px;
    padding: 14px 16px 17px 16px;
}

/* sort & filter button */
.list-sort-button,
.list-filter-button {
    margin-right: 10px;
    padding: 16px 16px 15px 16px;
    transform-origin: center center;
}


/* List item button */
.list-item-button {
    margin-right: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    background: transparent;
    transition: transform 0.15s ease;
}

.list-item-button:active {
    transform: scale(0.9);
}

.list-item-button img {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    padding: 5px;
    transition: opacity 0.2s, background-color 0.3s, border-color 0.4s;
}

/* Exclude button */
.list-item-exclude-button {
    padding: 2px 2px 0px 1.5px;
    opacity: 0.6;
}

.exclude-button img {
    opacity: 0.7;
}

/* List delete button */
.list-item-delete-button {
    padding: 2px 2px 0px 1.5px;
    opacity: 0.6;
}

/* ## List overflow button */
.list-overflow-button {}



/* ------- CTA(Call To Action) Buttons ------- */

/* Grey CTA button (base) */
.grey-cta-button {
    cursor: pointer;
    display: block;
    align-items: center;
    background-color: #3e3e3e;
    color: rgb(226, 226, 226);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: box-shadow 0.2s, color 0.15s ease, transform 0.05s ease;
}

.grey-cta-button:hover {
    color: #fff;
    background-color: #555;
}

.grey-cta-button:active {
    transform: scale(0.95);
}


/* Grey submit button */
.grey-submit-button-1 {
    width: 30%;
}

.grey-submit-button-2 {
    width: 40%;
}

/* Grey view button */
.grey-view-button {
    width: 20%;
}


/* ////////////////////////////////////////// */

















/* ******* Input ******* */

/* ------- Text input ------- */

/* Input (base) */

.input {
    box-sizing: border-box;
    margin-bottom: 5px;
    /**/
    padding: 10px 25px 5px 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid #cacaca;
    color: #383838;
    font-size: 1em;
}

.input:disabled {
    background-color: transparent;
    cursor: no-drop;
}

.input-100 {
    width: 100%;
}

textarea {
    min-height: 80px;
    resize: vertical;
}

.product-form-input {
    margin-top: 6px;
    margin-bottom: 10px;
}

/* Local search bar */





/* ------- Check box ------- */

/* Size option select - check box */
.size-option {
    font-family: sans-serif;
    display: inline-block;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.size-option input {
    display: none;
}

.size-option input:checked+span {
    background-color: #000;
    color: #fff;
    border: transparent;
}

.size-option span {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #474747;
    border-radius: 4px;
    border: 1.5px solid #ccc;
}



/* ------- Radio buttons ------- */

/* form status - radio buttons */
.form-radio-button input {
    display: none;
}

.form-radio-button input[value="inactive"]:checked+span {
    background-color: #ac1524;
    border-color: transparent;
}

.status-option-container {
    display: flex;
    justify-content: space-between;
}

.form-radio-button {
    display: inline-block;
    margin: 10px 5px 0px 5px;
    cursor: pointer;
    width: 46%;
}

.form-radio-button span {
    display: inline-block;
    padding: 6px 16px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    transition: 0.2s;
    user-select: none;
    width: 100%;
    text-align: center;
}

.form-radio-button input:checked+span {
    background-color: black;
    color: #fff;
    border-color: transparent;
}


/* -------- */
.size-option-text-input {
    /* margin-right: 10px; */
    /* max-width: 150px; */
    margin: 3px 0px;
}


/* ///////////////////////////////////// */



























/* ******* custom rulers ******* */

/* ------- Title bar ruler ------- */
.line {
    height: 1px;
    background-color: #d9d9d9;
    border: none;
}

.line-94 {
    width: 94%;
    margin-left: 3%;
}

.line-96 {
    width: 96%;
    margin-left: 2%;
}

.line-97 {
    width: 97%;
    margin-left: 1.5%;
}

.line-100 {
    width: 100%;
}

/* ------- */
.user-title-custom-line-2 {
    margin-top: 41px;
}
.hr-line-10 {
    margin-top: 10px;
}


/* Social login button divider */
.divider {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}


/* ///////////////////////////////////// */



