

/* ********* Headings, Labels, Details key & value ********* */


/* ********* Headings ********* */
/* ------- Title heading ------- */
#page-title {
    margin: 10px 15px;
}


/* ------- FieldSet legend ------- */
legend {
    font-size: 1.45rem;
    font-weight: bold;
    padding: 0 10px;
    color: #5c5c5c;
}

/* ------- Details heading ------- */

.top-details-heading {
    margin: 5px 0px 10px 0px;
}

.details-heading {
    margin: 35px 0px 10px 0px;
}



/* ********* Key & Value ********* */

/* ------- Details Key & value ------- */
.details-key {
    display: flex;
    align-items: center;
    color: #000000;
    flex: 1;
}

.details-value {
    color: #414141;
    flex: 3;
    display: flex;
    justify-content: space-between;
}







/* ------- Form key ------- */

/* Product form */
.general-info-label {
    display: block;
    color: #474747;
    font-weight: bold;
    font-size: 1rem;
}

.general-info-label:has(div select) {
    padding: 5px 0;
}

.option-description {
    font-size: 0.75rem;
    color: #666666;
    margin-bottom: 5px;
}


/* Discount form */
.form-key {
    color: #a1a1a1;
    padding: 10px 0 5px 0;
    display: flex;
    align-items: center;
    flex: 1;
}

.red-star {
    color: rgba(255, 0, 0, 0.671);
    margin-left: 5px;
}




/* ------- Details key ------- */
/* ------- Details value ------- */
.form-input-key {}

/* ------- Error message -------*/

