/*
*
* Contains styling for - ** NAV BAR, FOOTER MENU, VIEW ALL BUTTON **
*
*/





/* ******* Buttons ******* */

/* form submit buttons */
.button-form-1 {
    padding: 8px 0px;
    cursor: pointer;
    transition: box-shadow 0.2s, color 0.15s ease, transform 0.07s ease !important;
}

.button-form-1:active,
.button-google:active {
    transform: scale(0.98);
}

/* google button */
.button-google {
    cursor: pointer;
    transition: box-shadow 0.2s, color 0.15s ease, transform 0.07s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-google img {
    width: 20px;
    height: 20px;
}

/* view all button */
#view-all-button-container {
    height: 50px;
    margin: 0px 50px;
    padding: 40px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.button-transparent-1 {
    padding: 0px 25px;
    height: 35px;
    cursor: pointer;
    transition: 0.2, transform 0.1s ease;
}

.button-transparent-1:active {
    transform: scale(0.95);
}

.button-transparent-4 {
    padding: 0px 15px;
    transition: 0.2, transform 0.1s ease;
}

.button-transparent-4:active {
    transform: scale(0.95);
}

/* ////////////////////////////////////////// */









/* ******* custom rulers ******* */

/* custom hr for footer - auth pages */
.hr-line-10 {
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
    height: 1.5px;
}

.hr-line-11 {
    width: 97%;
    margin-left: 1.5%;
    height: 1px;
}

/* Social login button divider */
.divider {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}

/* ///////////////////////////////////// */









/* ******* Toast notification ******* */

.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    min-width: 300px;
    padding: 10px 10px 10px 20px;
    display: flex;
    z-index: 9999;
    transform: translateX(-100%);
    opacity: 0;
    border: 1px solid #3e3e3e;
}

.toast-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 20px;
}

.toast-message-container {
    flex: 1;
}

.toast-message-container p {
    max-width: 300px;
}

.toast-close-container {
    min-height: 100%;
    max-width: 20px;
    width: 20px;
}

.toast-close-container span {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.0.7s ease;
    user-select: none;
}

.toast-close-container span:active {
    transform: scale(0.92);
}



.toast.show {
    animation: slideInBounce 0.6s ease-out forwards;
}
.toast.hide {
    animation: slideOut 0.6s ease-in forwards;
}


@keyframes slideInBounce {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        transform: translateX(10px);
        opacity: 1;
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* ///////////////////////////////////// */









/* ******* Modal ******* */

#user-modal {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modal-container,
#modal-container-1 {
    padding: 30px 50px;
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-container {
    width: 20%;
}

#modal-container-1 {
    width: 40%;
}

#modal-title {
    margin-bottom: 15px;
}

#modal-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#modal-container input,
#modal-container select {
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 10px 25px 5px 15px;
}

#modal-container-1 input {
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 10px 25px 5px 15px;
}

.error-message {
    display: block;
    margin: 0px !important;
    padding-left: 15px;
}

.error-message-1 {
    display: block;
    margin: 0px !important;
    width: 100%;
    padding-left: 20%;
}

#modal-container div,
#modal-container-1 div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#modal-container div button,
#modal-container-1 div button {
    width: 35%;
    padding: 7px 0px;
    margin: 10px 0px;
    cursor: pointer;
    transition: color 0.15s ease, transform 0.05s ease;
}

#modal-container div button:active,
#modal-container-1 div button:active {
    transform: scale(0.95);
}

/* ///////////////////////////////////// */


