#user-profile-image {
    border: 8px solid #c9c9c9;
    border-radius: 50%;
}

/* ----------------- */

div.order-details-text {
    font-size: 1.2em;
}

div.details-text {
    font-size: 1.2em;
}

strong.details-key {
    color: #000000;
}

p.details-value {
    color: #414141;
}

.profile-details-description-message {
    font-size: 13px;
    color: #555;
}

/* //////////////////////////////////////// */









/* User address */

#no-address-container {
    text-align: center;
}

#no-address-message {
    color: rgb(129, 129, 129);
    font-size: 14px;
}

.user-name {
    color: #191919;
}

.edit-button,
.delete-button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}
.edit-button {
    color: #6d6d6d;
}

.edit-button:hover {
    color: white;
    background-color: #8b8b8b;
}

.delete-button {
    color: #CB2020;
}

.delete-button:hover {
    color: white;
    background-color: #e92626;
}

.address {
    color: #525252;
}