<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>

    <link rel="stylesheet" href="../css/navbar-footer-sidenav-styling.css">
    <link rel="stylesheet" href="../css/navbar-footer-sidenav-theme-font-effects.css">

    <link rel="stylesheet" href="../css/elements.css">

    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/components-theme-font-effects.css">


    <link rel="stylesheet" href="../css/admin-style.css">
    <link rel="stylesheet" href="../css/admin-table.css">
    <link rel="stylesheet" href="../css/admin-filter-menu.css">

    <link rel="stylesheet" href="../css/text-content.css">
<!--    <link rel="stylesheet" href="../css/widgets.css">-->


    <!-- <link rel="stylesheet" href="../css/forms-styling.css"> -->
    <link rel="stylesheet" href="../css/admin-details.css">

    <title>MENZO | Admin - Discount Summary</title>
</head>

<body>

<!-- Nav bar -->

<nav id="nav-bar-container">
    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href=""><img src="../media/MENZO_logo.jpg" alt=""></a>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
            <span id="clear-search">&#10005;</span>
            <img id="search-lens-btn" src="../media/search-icon-thin.png" alt="">
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-profile">
                <a href="">
                    <div class="icon-image-container">
                        <img id="profile-icon" src="../media/profile_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div>
                            <p>sign in</p>
                        </div>
                        <div><strong>Account</strong></div>
                    </div>
                </a>
            </div>
            <div id="hamBurger-searchIcon-container">
                <div id="search-icon">
                    <img id="search-icon-img" src="../media/search-v3.png" alt="">
                </div>
                <div id="hamBurger-icon">
                    <img src="../media/hamburger-icon-v3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="page-container">
    <div class="side-menu-bar-container">
        <h2 id="dashboard-option">Dashboard</h2>
        <h2>Inventory</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Categories</a></li>
            <li class="menu-item"><a href="">Variations</a></li>
            <li class="menu-item" id="current-option"><a href="">Products</a></li>
            <li class="menu-item"><a href="">Discount & offers</a></li>
            <li class="menu-item"><a href="">Coupons</a></li>
            <li class="menu-item"><a href="">Order management</a></li>
            <li class="menu-item"><a href="">Return & cancellation</a></li>
            <li class="menu-item"><a href="">Sales & revenue</a></li>
        </ul>
        <h2>Users</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">User management</a></li>
            <li class="menu-item"><a href="">Blocked users</a></li>
            <li class="menu-item"><a href="">Subscriptions</a></li>
            <li class="menu-item"><a href="">News letters</a></li>
            <li class="menu-item"><a href="">Contact requests</a></li>
            <li class="menu-item"><a href="">Sent messages</a></li>
        </ul>
        <h2>Others</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Banners</a></li>
            <li class="menu-item"><a href="">About Us</a></li>
        </ul>
    </div>

    <div class="main-content-container">
        <div id="page-title-container">
            <h1 id="page-title">Discount Summary</h1>
            <div>
                <div class="title-button-container">
                    <button id="draft-button" class="title-button draft-button" title="Draft">
                        <img src="../media/draft (1).png" alt="">
                    </button>
                    <button id="refresh-button" class="title-button refresh-button" title="Refresh">
                        <img src="../media/refresh.png" alt="">
                    </button>

                </div>
            </div>
        </div>
        <hr class="line line-97">

        <div class="product-details-wrapper">
            <div class="product-details-container">
                <div id="discount-details-col-1">
                    <h2 class="details-heading top-details-heading">General details</h2>
                    <div id="name" class="details-text">
                        <strong class="details-key">Name: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="description" class="details-text">
                        <strong class="details-key">Description: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="code" class="details-text">
                        <strong class="details-key">Code: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="level" class="details-text">
                        <strong class="details-key">Level: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="type" class="details-text">
                        <strong class="details-key">Type: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="value" class="details-text">
                        <strong class="details-key">Value: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="cap-type" class="details-text">
                        <strong class="details-key">Cap Type: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="cap-value" class="details-text">
                        <strong class="details-key">Cap value: </strong>
                        <p class="details-value">abc</p>
                    </div>
                    <div id="priority" class="details-text">
                        <strong class="details-key">Priority: </strong>
                        <p class="details-value">abc</p>
                    </div>

                    <h2 class="details-heading">Validity details</h2>
                    <div id="start-at" class="details-text">
                        <strong class="details-key">Start Date: </strong>
                        <p class="details-value">29 Dec 2025 12:35 PM</p>
                    </div>
                    <div id="end-at" class="details-text">
                        <strong class="details-key">End Date: </strong>
                        <p class="details-value">4 Jan 2026 12:35 PM</p>
                    </div>
                    <div id="status" class="details-text">
                        <strong class="details-key">Status: </strong>
                        <p class="details-value">
                            <span class="status-indicator">Scheduled</span>
                        </p>
                    </div>
                    <div id="resume-at" class="details-text">
                        <strong class="details-key">Resume Date: </strong>
                        <p class="details-value">1 Jan 2026 11:20 AM</p>
                    </div>
                    <div id="time-zone" class="details-text">
                        <strong class="details-key">Time Zone: </strong>
                        <p class="details-value">Shirts & t-shirts</p>
                    </div>

                    <h2 class="details-heading">Other details</h2>
                    <div id="created-at" class="details-text">
                        <strong class="details-key">Created at: </strong>
                        <p class="details-value">Shirts & t-shirts</p>
                    </div>
                    <div id="created-by" class="details-text">
                        <strong class="details-key">Created by: </strong>
                        <p class="details-value">Shirts & t-shirts</p>
                    </div>
                    <div id="updated-at" class="details-text">
                        <strong class="details-key">Updated at: </strong>
                        <p class="details-value">Shirts & t-shirts</p>
                    </div>

                    <div id="updated-by" class="details-text">
                        <strong class="details-key">Updated by: </strong>
                        <p class="details-value">Shirts & t-shirts</p>
                    </div>
                </div>

                <div id="discount-details-col-2">
                    <div id="discount-mapping-list-wrapper">
                        <div id="list-wrapper-header">
                            <div class="list-header-row">
                                <div class="list-heading-container">
                                    <h2 id="mapping-list-heading">Sub-Categories</h2>
                                </div>
                                <div class="list-heading-container list-heading-buttons-container">
                                    <button id="add-mapping-button" class="list-header-button list-add-button">+
                                    </button>
                                    <button id="sort-elements-button" class="list-header-button list-sort-button">⇅
                                    </button>
                                    <button id="filter-elements-button" class="list-header-button list-sort-button">⏚
                                    </button>
                                </div>
                            </div>
                            <div class="list-header-row">
                                <p>Selected item - 1 / 22</p>
                            </div>
                        </div>
                        <div id="list-wrapper-body">

                            <div class="discount-map-element">
                                <div class="list-element-content">
                                    <div class="counter-checkbox-container">
                                        <label class="cc-select">
                                            <input type="checkbox">
                                            <span>1</span>
                                        </label>
                                    </div>
                                    <div class="list-text-container">
                                        <div class="element-text-1">
                                            <div class="element-text-wrapper">
                                                <p>FS-233-DBL-L</p>
                                            </div>
                                        </div>
                                        <div class="element-text-2">
                                            <div class="element-text-2-row">
                                                <div class="element-text-2-wrapper">
                                                    <p class="element-text-2-key">Size: </p>
                                                    <p class="element-text-2-value">L |</p>
                                                    <p class="element-text-2-key">Color: </p>
                                                    <p class="element-text-2-value">Dark blue</p>
                                                    <div class="element-color-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-button-container">
                                        <button class="list-item-button list-item-exclude-button" title="Exclude">
                                            <img src="../media/traffic-signal.png" alt="">
                                        </button>
                                        <button class="list-item-button list-item-delete-button" title="Delete">
                                            <img src="../media/delete.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="discount-map-element">
                                <div class="list-element-content">
                                    <div class="counter-checkbox-container">
                                        <label class="cc-select">
                                            <input type="checkbox">
                                            <span>1</span>
                                        </label>
                                    </div>
                                    <div class="list-text-container">
                                        <div class="element-text-1">
                                            <div class="element-text-wrapper">
                                                <p>Solid Slim Fit Formal Shirt</p>
                                            </div>
                                        </div>
                                        <div class="element-text-2">
                                            <div class="element-text-2-row">
                                                <div class="element-text-2-wrapper">
                                                    <p class="element-text-2-key">Exclusion: </p>
                                                    <p class="element-text-2-value">2</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-button-container">
                                        <button class="list-item-button list-item-exclude-button" title="Exclude">
                                            <img src="../media/traffic-signal.png" alt="">
                                        </button>
                                        <button class="list-item-button list-item-delete-button" title="Delete">
                                            <img src="../media/delete.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="discount-map-element">
                                <div class="list-element-content">
                                    <div class="counter-checkbox-container">
                                        <label class="cc-select">
                                            <input type="checkbox">
                                            <span>1</span>
                                        </label>
                                    </div>
                                    <div class="list-text-container">
                                        <div class="element-text-1">
                                            <div class="element-text-wrapper">
                                                <p>Formal Shirts</p>
                                            </div>
                                        </div>
                                        <div class="element-text-2">
                                            <div class="element-text-2-row">
                                                <div class="element-text-2-wrapper">
                                                    <p class="element-text-2-key">Exclusion: </p>
                                                    <p class="element-text-2-value">12</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-button-container">
                                        <button class="list-item-button list-item-exclude-button" title="Exclude">
                                            <img src="../media/traffic-signal.png" alt="">
                                        </button>
                                        <button class="list-item-button list-item-delete-button" title="Delete">
                                            <img src="../media/delete.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="discount-map-element">
                                <div class="list-element-content">
                                    <div class="counter-checkbox-container">
                                        <label class="cc-select">
                                            <input type="checkbox">
                                            <span>1</span>
                                        </label>
                                    </div>
                                    <div class="list-text-container">
                                        <div class="element-text-1">
                                            <div class="element-text-wrapper">
                                                <p>Shirts & T-Shirts</p>
                                            </div>
                                        </div>
                                        <div class="element-text-2">
                                            <div class="element-text-2-row">
                                                <div class="element-text-2-wrapper">
                                                    <p class="element-text-2-key">Exclusion: </p>
                                                    <p class="element-text-2-value">1</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-button-container">
                                        <button class="list-item-button list-item-exclude-button" title="Exclude">
                                            <img src="../media/traffic-signal.png" alt="">
                                        </button>
                                        <button class="list-item-button list-item-delete-button" title="Delete">
                                            <img src="../media/delete.png" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ********* Modal ********* -->

<!-- Confirmation modal -->

<div id="confirm-modal" class="modal hidden">
    <div class="modal-container">
        <h1 id="confirm-title" class="modal-heading">Are you sure?</h1>
        <p id="confirm-message" class="modal-message">Do you really want to delete this discount? </p>
        <div class="modal-button-container">
            <button class="modal-button" id="confirm-yes">Yes</button>
            <button class="modal-button" id="confirm-no">Cancel</button>
        </div>
    </div>
</div>

<!-- Select modal -->

<div id="add-discount-mapping-modal" class="modal">
    <div id="add-discount-mapping-modal-container" class="modal-container-3">

        <div class="modal-title-container">
            <h1 class="modal-title">Add mapping</h1>
        </div>

        <div class="modal-message-container">
            <span>Choose category</span>
        </div>

        <div class="modal-options-container">

            <!-- <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div class="list-option-image-container">
                            <img src="/admin panels/media/51NW7DOyfEL._SY741_.jpg" alt="">
                        </div>
                        <div class="element-text-1">
                            <div class="element-sku-container">
                                <p>Solid Slim Fit Formal Shirt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>Formal Shirts</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div class="list-option-image-container">
                            <img src="/admin panels/media/51NW7DOyfEL._SY741_.jpg" alt="">
                        </div>
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>FS-233-DBL-L</p>
                                </div>
                            </div>
                            <div class="element-text-2">
                                <div class="element-text-2-row">
                                    <div class="element-color">
                                        <p class="element-color-key">Size: </p>
                                        <p class="element-color-value">L |</p>
                                        <p class="element-color-key">Color: </p>
                                        <p class="element-color-value">Dark blue</p>
                                        <div class="element-color-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>Solid Slim Fit Formal Shirt</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>Formal Shirts</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div class="list-option-image-container">
                            <img src="/admin panels/media/51NW7DOyfEL._SY741_.jpg" alt="">
                        </div>
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>FS-233-DBL-L</p>
                                </div>
                            </div>
                            <div class="element-text-2">
                                <div class="element-text-2-row">
                                    <div class="element-color">
                                        <p class="element-color-key">Size: </p>
                                        <p class="element-color-value">L |</p>
                                        <p class="element-color-key">Color: </p>
                                        <p class="element-color-value">Dark blue</p>
                                        <div class="element-color-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>Solid Slim Fit Formal Shirt</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>

            <div class="discount-map-element">
                <div class="list-element-content">
                    <div class="counter-checkbox-container">
                        <label class="cc-select">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="list-text-container list-options">
                        <div>
                            <div class="element-text-1">
                                <div class="element-sku-container">
                                    <p>Formal Shirts</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="line line-86">
            </div>  -->

        </div>

        <div id="add-discount-mapping-modal-button-container" class="modal-button-container" style="">
            <button class="modal-button grey-cta-button" id="save-mapping-button">Save</button>
            <button id="close-discount-mapping-modal" class="modal-button">Close</button>
        </div>

    </div>
</div>

<!--    Toast notification-->

<div class="toast" id="toast">
    <div class="toast-icon" id="toast-icon"></div>
    <div class="toast-message-container">
        <h3 id="toast-title">Success!</h3>
        <p id="toast-message">Password change failed abruptly.....</p>
    </div>
    <div class="toast-close-container">
        <span id="toast-close-btn">&#10005;</span>
    </div>
</div>

<!-- Footer menu -->

<div class="footer-menu-container">
    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="../media/MENZO_logo.jpg" alt="">
        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script>
    flatpickr("#discount-start-date", {
        dateFormat: "d-m-Y",
        maxDate: "today"
    });
    flatpickr("#discount-end-date", {
        dateFormat: "d-m-Y"
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="../js/component-script/nav-bar-script.js"></script>
<!--<script src="../js/component-script/filter-menu-script.js"></script>-->

<script src="../js/component-script/toaster-script.js"></script>
<script src="../js/discount-coupon-script/discount-summary.js"></script>
<script src="../js/discount-coupon-script/add-discount-mapping.js"></script>
<!--<script>
    document.querySelectorAll('.discount-map-element').forEach(row => {
        row.addEventListener('click', () => {
            const checkbox = row.querySelector('.cc-select input');
            checkbox.checked = !checkbox.checked;
        });
    });

    document.querySelectorAll('.cc-select').forEach(label => {
        label.addEventListener('click', e => e.stopPropagation());
    });
</script>-->
</body>

</html>