<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/admin-style.css" />
    <link rel="stylesheet" href="/css/admin-side-menu.css" />
    <link rel="stylesheet" href="/css/admin-accordion.css" />
    <link rel="stylesheet" href="/css/admin-accordion-modal.css" />
    <title>MENZO | Admin-Variations</title>
</head>

<body>

<!-- Nav bar -->

<nav id="nav-bar-container">
    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href="http://localhost:8080/index"><img src="/media/MENZO_logo.jpg" alt=""></a>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
            <span id="clear-search">&#10005;</span>
            <img id="search-lens-btn" src="/media/search-icon-thin.png" alt=""/>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-profile">
                <a href="">
                    <div class="icon-image-container">
                        <img id="profile-icon" src="/media/profile_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div>
                            <p>sign in</p>
                        </div>
                        <div><strong>Account</strong></div>
                    </div>
                </a>
            </div>
            <div id="hamBurger-searchIcon-container">
                <div id="search-icon">
                    <img id="search-icon-img" src="/media/search-v3.png" alt="">
                </div>
                <div id="hamBurger-icon">
                    <img src="/media/hamburger-icon-v3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- All categories page content -->

<div class="page-container">
    <div class="side-menu-bar-container">
        <h2 id="dashboard-option"><a href="http://localhost:8080/admin/dashboard">Dashboard</a></h2>
        <h2>Inventory</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/categories">Categories</a></li>
            <li class="menu-item" id="current-option"><a href="">Variations</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/all-products">Products</a></li>
            <li class="menu-item"><a href="">Discount & offers</a></li>
            <li class="menu-item"><a href="">Coupons</a></li>
            <li class="menu-item"><a href="">Order management</a></li>
            <li class="menu-item"><a href="">Return & cancellation</a></li>
            <li class="menu-item"><a href="">Sales & revenue</a></li>
        </ul>
        <h2>Users</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/users">User management</a></li>
            <li class="menu-item"><a href="">Blocked users</a></li>
            <li class="menu-item"><a href="">Subscriptions</a></li>
            <li class="menu-item"><a href="">News letters</a></li>
            <li class="menu-item"><a href="">Contact requests</a></li>
            <li class="menu-item"><a href="">Sent messages</a></li>
        </ul>
        <h2>Others</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Banners</a></li>
            <li class="menu-item"><a href="">About Us</a></li>
        </ul>
    </div>

    <!-- Modal for Variations -->

    <div id="variation-modal" class="modal">
        <div id="modal-container">
            <h1 id="modal-title">Add Variation</h1>
            <input type="text" id="modal-variation-input" placeholder="Variation name" />
            <input type="text" placeholder="Description" />
            <div>
                <button id="save-variation-btn">Save</button>
                <button onclick="closeVariationModal()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Modal for variation options -->

    <div id="option-modal" class="modal">
        <div id="option-modal-container">
            <h1 id="option-modal-title">Add Option</h1>
            <input type="text" id="option-modal-input" placeholder="Option name" />
            <input type="text" placeholder="Description" />
            <div>
                <button id="save-option-btn">Save</button>
                <button onclick="closeOptionModal()">Cancel</button>
            </div>
        </div>
    </div>

    <!--    Variations and options accordion-->

    <div class="main-content-container">
        <div id="page-title-container">
            <h1 id="page-title">Variations</h1>
            <button onclick="openVariationModal()" id="add-button">Add Variation</button>
        </div>

        <div class="accordion-container" id="accordion-container"></div>
    </div>
</div>

<!-- Footer menu -->

<div class="footer-menu-container">

    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="/media/MENZO_logo.jpg" alt="">
        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
    </div>
</div>
<script src="/js/variations-accordion-script.js"></script>
<script src="/js/nav-bar-script.js"></script>
</body>

</html>