<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <link rel="stylesheet" href="/css/admin-side-menu.css">
    <link rel="stylesheet" href="/css/admin-table.css">
    <title>MENZO | Admin-User Management</title>
</head>

<body>

<!-- Nav bar -->

<nav id="nav-bar-container">
    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href=""><img src="/media/MENZO_logo.jpg" alt=""></a>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
            <span id="clear-search">&#10005;</span>
            <img id="search-lens-btn" src="/media/search-icon-thin.png" alt="">
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-profile">
                <a href="">
                    <div class="icon-image-container">
                        <img id="profile-icon" src="/media/profile_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div>
                            <p>sign in</p>
                        </div>
                        <div><strong>Account</strong></div>
                    </div>
                </a>
            </div>
            <div id="hamBurger-searchIcon-container">
                <div id="search-icon">
                    <img id="search-icon-img" src="/media/search-v3.png" alt="">
                </div>
                <div id="hamBurger-icon">
                    <img src="/media/hamburger-icon-v3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- All categories page content -->

<div class="page-container">
    <div class="side-menu-bar-container">
        <h2 id="dashboard-option"><a href="http://localhost:8080/admin/dashboard">Dashboard</a></h2>
        <h2>Inventory</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/categories">Categories</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/variations">Variations</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/all-products">Products</a></li>
            <li class="menu-item"><a href="">Discount & offers</a></li>
            <li class="menu-item"><a href="">Coupons</a></li>
            <li class="menu-item"><a href="">Order management</a></li>
            <li class="menu-item"><a href="">Return & cancellation</a></li>
            <li class="menu-item"><a href="">Sales & revenue</a></li>
        </ul>
        <h2>Users</h2>
        <ul class="category-menu">
            <li class="menu-item" id="current-option"><a href="">User management</a></li>
            <li class="menu-item"><a href="">Blocked users</a></li>
            <li class="menu-item"><a href="">Subscriptions</a></li>
            <li class="menu-item"><a href="">News letters</a></li>
            <li class="menu-item"><a href="">Contact requests</a></li>
            <li class="menu-item"><a href="">Sent messages</a></li>
        </ul>
        <h2>Others</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Banners</a></li>
            <li class="menu-item"><a href="">About Us</a></li>
        </ul>
    </div>

    <!-- Categories and sub categories accordion -->

    <div class="main-content-container">
        <!-- Product items - Listing table -->

        <div class="table-wrapper" id="all-users-table-wrapper">
            <div id="page-title-container" class="page-title-container-top">
                <h1 id="page-title">Users</h1>
                <!-- <button onclick="addCategory()" id="add-button">Add new</button> -->
                <div>
                    <!-- <button class="title-option-button">Product by Category</button> -->
                    <!--                    <a href="#" class="title-option-button" id="add-button">Add Item</a>-->
                    <!--                    <a href="#" id="filter-button"><span class="filter-icon">⏚</span> Filter</a>-->
                </div>

            </div>
            <table id="all-users-table">
                <thead>
                <tr>
                    <th class="center-text first-table-heading">Name</th>
                    <th class="center-text">Email</th>
                    <th class="center-text">Phone</th>
                    <th class="center-text">Status</th>
                    <th class="center-text">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${userList}">
                        <td th:text="${user.fullName}" class="center-text products-table-data user-table-data">
                            <!-- <img class="product-icon-img" src="media/img7.jpg" alt=""> -->
                            Rooney colman
                        </td>
                        <td th:text="${user.email}" class="center-text user-table-data">rooneycoleman@gmail.com</td>
                        <td th:text="${user.phoneNumber}" class="center-text user-table-data">9876543210</td>
                        <td class="center-text user-table-data">
                            <div th:switch="${user.activeStatus}">
                                <span th:case="${T(com.menzo.Admin_Service.Enum.ActiveStatus).ACTIVE}" class="status-indicator status-green">Active</span>
                                <span th:case="${T(com.menzo.Admin_Service.Enum.ActiveStatus).INACTIVE}" class="status-indicator status-red">Inactive</span>
                            </div>
                        </td>
                        <td class="center-text user-table-data action-buttons-column">
                            <a th:href="@{'http://localhost:8080/admin/user?id=' + ${user.id}}" class="action-btn action-view-btn">View</a>
                            <a th:href="@{'#' + ${user.id}}" class="action-btn action-delete-btn">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination &laquo; -->

        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="" class="active-page">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>

<!-- Footer menu -->

<div class="footer-menu-container">

    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="/media/MENZO_logo.jpg" alt="">
        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
    </div>
</div>
<script src="/js/nav-bar-script.js"></script>
</body>

</html>