<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <link rel="stylesheet" href="/css/admin-side-menu.css">
    <link rel="stylesheet" href="/css/admin-table.css">
    <link rel="stylesheet" href="/css/admin-details.css">
    <link rel="stylesheet" href="/css/admin-accordion-modal.css">
    <title>MENZO | Admin-User</title>
</head>

<body>

<!-- Nav bar -->

<nav id="nav-bar-container">
    <div id="top-nav-bar">
        <div class="top-nav-bar-elements" id="nav-bar-logo">
            <a href=""><img src="/media/MENZO_logo.jpg" alt=""></a>
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-search-bar">
            <input type="text" class="search-bar" id="search-bar" placeholder="What are you looking for...">
            <span id="clear-search">&#10005;</span>
            <img id="search-lens-btn" src="/media/search-icon-thin.png" alt="">
        </div>
        <div class="top-nav-bar-elements" id="nav-bar-icons">
            <div id="nav-icon-profile">
                <a href="">
                    <div class="icon-image-container">
                        <img id="profile-icon" src="/media/profile_icon.png" alt="">
                    </div>
                    <div class="icon-details-container">
                        <div>
                            <p>sign in</p>
                        </div>
                        <div><strong>Account</strong></div>
                    </div>
                </a>
            </div>
            <div id="hamBurger-searchIcon-container">
                <div id="search-icon">
                    <img id="search-icon-img" src="/media/search-v3.png" alt="">
                </div>
                <div id="hamBurger-icon">
                    <img src="/media/hamburger-icon-v3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- All categories page content -->

<div class="page-container">
    <div class="side-menu-bar-container">
        <h2 id="dashboard-option"><a href="http://localhost:8080/admin/dashboard">Dashboard</a></h2>
        <h2>Inventory</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="http://localhost:8080/admin/categories">Categories</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/variations">Variations</a></li>
            <li class="menu-item"><a href="http://localhost:8080/admin/all-products">Products</a></li>
            <li class="menu-item"><a href="">Discount & offers</a></li>
            <li class="menu-item"><a href="">Coupons</a></li>
            <li class="menu-item"><a href="">Order management</a></li>
            <li class="menu-item"><a href="">Return & cancellation</a></li>
            <li class="menu-item"><a href="">Sales & revenue</a></li>
        </ul>
        <h2>Users</h2>
        <ul class="category-menu">
            <li class="menu-item" id="current-option"><a href="http://localhost:8080/admin/users">User management</a></li>
            <li class="menu-item"><a href="">Blocked users</a></li>
            <li class="menu-item"><a href="">Subscriptions</a></li>
            <li class="menu-item"><a href="">News letters</a></li>
            <li class="menu-item"><a href="">Contact requests</a></li>
            <li class="menu-item"><a href="">Sent messages</a></li>
        </ul>
        <h2>Others</h2>
        <ul class="category-menu">
            <li class="menu-item"><a href="">Banners</a></li>
            <li class="menu-item"><a href="">About Us</a></li>
        </ul>
    </div>


    <!-- Block/Unblock confirmation modal -->

    <div id="confirm-modal" class="hidden">
        <div id="modal-container">
            <h1 id="confirm-title">Are you sure?</h1>
            <p class="confirm-message">Do you really want to block this user?</p>
            <div>
                <button id="confirm-yes">Yes</button>
                <button id="confirm-no">Cancel</button>
            </div>
        </div>
    </div>

    <!--    Toast notification-->

    <div class="toast" id="toast">
        <div class="toast-icon" id="toast-icon"></div>
        <div class="toast-success-message-container">
            <h2 id="toast-title">Error!</h2>
            <p id="toast-message">Blocked failed</p>
        </div>
    </div>

    <!-- Categories and sub categories accordion -->

    <div class="main-content-container">
        <!-- Product items - Listing table -->

        <div id="page-title-container" class="page-title-container-top">
            <h1 id="page-title">Daniel Cormier</h1>
            <div>
                <a href="#" class="top-delete-button">Delete</a>
                <a href="#" class="title-option-button" id="add-button">Contact</a>
            </div>

        </div>
        <hr class="user-title-custom-line" />

        <div class="user-details-wrapper">
            <div class="user-display-col-1">

                <div id="user-profile-image">
                    <img src="/media/51NW7DOyfEL._SY741_.jpg" alt="">
                </div>

            </div>
            <div class="user-display-col-2">
                <input type="hidden" id="user-id" th:value="${userId}"/>
                <div class="details-text">
                    <strong class="details-key">Email:</strong>
                    <p class="details-value" id="user-email">danielcormier@gmail.com</p>
                </div>
                <div class="details-text">
                    <strong class="details-key">Phone number: </strong>
                    <p class="details-value" id="user-phone-number">98765 43210</p>
                </div>
                <div class="details-text">
                    <strong class="details-key">Date of birth: </strong>
                    <p class="details-value" id="user-dob">21 Jun 2010</p>
                </div>
                <div class="details-text">
                    <strong class="details-key">Gender: </strong>
                    <p class="details-value" id="user-gender">Male</p>
                </div>
                <div class="details-text">
                    <strong class="details-key">Created at: </strong>
                    <p class="details-value" id="account-created-at">2 May 2023</p>
                </div>
                <div class="details-text">
                    <strong class="details-key">Status: </strong>
                    <p class="details-value ">
                        <span class="pod-indicator" id="status-text">Active</span>
                        <label class="toggle-switch">
                            <input type="checkbox" id="status-toggle">
                            <span class="slider"></span>
                        </label>
                    </p>
                </div>
            </div>
        </div>

        <hr class="user-title-custom-line-2" />

        <div id="address-container">
            <h2 id="address-label">Addresses</h2>
            <div class="user-address">
                <h3 class="address-of">Daniel Cormier</h3>
                <p class="address-to">Flat No. 10, 2nd Floor, Sunrise Apartments, Linking Road, Bandra West, Mumbai,
                    Maharashtra, India – 400050</p>
            </div>
            <hr class="user-title-custom-line" />
            <div class="user-address">
                <h3 class="address-of">Daniel Cormier</h3>
                <p class="address-to">Flat No. 10, 2nd Floor, Sunrise Apartments, Linking Road, Bandra West, Mumbai,
                    Maharashtra, India – 400050</p>
            </div>
            <hr class="user-title-custom-line" />
            <div class="user-address">
                <h3 class="address-of">Daniel Cormier</h3>
                <p class="address-to">Flat No. 10, 2nd Floor, Sunrise Apartments, Linking Road, Bandra West, Mumbai,
                    Maharashtra, India – 400050</p>
            </div>

        </div>
        <hr class="user-title-custom-line-3" />

        <div id="order-details-container">
            <h2 id="order-details-label">Order details</h2>
            <div class="order-details-text">
                <strong class="details-key">Total orders:</strong>
                <p class="details-value">34</p>
            </div>
            <div class="order-details-text">
                <strong class="details-key">Total sales:</strong>
                <p class="details-value">₹ 51,642</p>
            </div>
            <div class="order-details-text">
                <strong class="details-key">Return rate:</strong>
                <p class="details-value">12 %</p>
            </div>
        </div>

        <div id="view-orders-button-container">
            <a href="#" id="view-orders-button">View orders</a>
        </div>
    </div>
</div>

<!-- Footer menu -->

<div class="footer-menu-container">

    <div class="footer-options-container">
        <div class="footer-options footer-contact-wrapper">
            <img src="/media/MENZO_logo.jpg" alt="">
        </div>
    </div>

    <div class="end-footer">
        <div id="copy-right-container">
            <p>© 2025 - All rights reserved by <strong>MENZO</strong></p>
        </div>
    </div>
</div>
<script src="/js/nav-bar-script.js"></script>
<script src="/js/user-details-script.js"></script>
</body>

</html>