<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/auth-checkout/auth-checkout-nav-bar-footer.css" />

    <title>Reset password</title>
</head>
<body>

<!-- Nav bar -->
<nav id="min-nav-bar-container">
    <div id="min-nav-bar-logo">
        <a href="/index"><img src="/media/global/logo/MENZO_logo.jpg" alt=""></a>
    </div>
</nav>

<!-- Page content -->
<div id="page-content-container"></div>

<!-- Footer -->
<hr class="hr-line-10">
<div class="login-page-footer">
    <p>© 2026 - All rights reserved by <strong>MENZO</strong></p>
</div>

</body>
</html>